body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}
h1
{
    font-size: 4rem;  
margin-left: -1rem;
}
.countdown-continer
{
    display: flex;
}
.big-text
{
    margin-right: 150px;
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}
.countdown-el span
{
     font-size: 2rem;
     text-align: center;
     margin-left: -2rem;
     margin-right: 2rem;

    }
